.idea
build
.gradle
*.iws
*.iml
*.ipr
*.ids
*~
*.swp
*.log
*.pid
out/
*.out
\?/
jacocoReport/
*.pyc
tags
apiDocumentation/*
Validation/fuzz_tests/
tmp/
/gradle/wrapper/gradle-wrapper.properties
*.pytest_cache
*.coverage
target
