.idea/
build/
build_client/
dependencies/
coverage/
cmake-build-debug/
.cproject
.project
*.iws
*.iml
*.ipr
*~
*.log
*.pid
*.out
*.swp
tags
temp.sig
temp_mpriv_key.dat
blob.dat
/datafiles/client/sig.dat
/datafiles/client/joined_mpriv_key.dat
