<?xml version = "1.0" encoding = "UTF-8"?>

<!-- Copyright 2021 Intel Corporation
  SPDX-License-Identifier: Apache 2.0 -->

<suite name = "EPID Verification Service Logger Suite">
    <listeners>
        <listener class-name = "org.fidoalliance.fdo.epid.verification.testng.custom.logs.CustomLogs" />
    </listeners>
    <packages>
        <test name = "EPID Verificationcle Service Authenticators Test">
        </test>
    </packages>
</suite>
